* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --gray: #b3e1fb;
  --line-gray: #878787;
  --red: #e83f5b;
  --green: #00975c;
  --blue: dodgerblue;
  --black: #000;
}
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
.group {
  position: relative;
  margin-bottom: 45px;
}
.select-box {
  margin-top: 3%;
  border: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: var(--white);
}
p {
  font-size: 18px;
  padding: 5px 10px 5px 5px;
  display: block;
  width: 300px;
  border: none;
  background-color: var(--white);
}
input {
  font-size: 18px;
  padding: 15px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: var(--white);
}
input:focus {
  outline: none;
}
#logo {
  width: 10rem;
}
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  left: 28%;
  top: 20%;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--blue);
}
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--blue);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--blue);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--green);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: var(--green);
  }
  to {
    width: 0;
    background: transparent;
  }
}
.section-box {
  margin-top: 10%;
  margin-bottom: 2%;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--green);
}
.header {
  overflow: hidden;
  background-color: var(--white);
  padding: 20px 10px;
  border-radius: 10px;
}
.header a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #ddd;
}
.header a.active {
  background-color: var(--green);
  color: var(--white);
}
.header-right {
  float: right;
}
.box {
  display: flexbox;
  position: absolute;
  left: 31%;
  width: 38%;
  margin-top: 4%;
  margin-bottom: 0;
  height: 60%;
  background-color: var(--white);
  border-radius: 10px;
}
.header-box {
  display: flexbox;
  position: absolute;
  left: 31%;
  width: 40%;
  margin-top: 4%;
  margin-bottom: 0;
  height: 70%;
  background-color: var(--white);
  border-radius: 10px;
}
.row-box {
  display: none;
  position: absolute;
  left: 31%;
  width: 40%;
  margin-top: 4%;
  margin-bottom: 0;
  height: 80%;
  background-color: var(--white);
  border-radius: 10px;
}
.box4 {
  display: none;
  position: absolute;
  left: 31%;
  width: 38%;
  margin-top: 6%;
  margin-bottom: 0;
  height: 70%;
  background-color: var(--white);
  border-radius: 10px;
}

.box2 {
  left: 30%;
  width: 40%;
  height: 53%;
}
#n1,
#n2,
#n3 {
  display: none;
}
.ns {
  margin-bottom: 8%;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    background-color: var(--green);
  }
  .header {
    box-shadow: none;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .box {
    position: absolute;
    left: 2%;
    width: 96%;
    margin-top: 4%;
    margin-bottom: 2%;
    height: 60%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: none;
  }
  .header-box {
    width: 60%;
  }
  .row-box {
    width: 70%;
  }
  .section-box {
    margin-top: 12%;
    margin-bottom: 1%;
  }
  label {
    position: absolute;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    left: 9%;
    top: 20%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .select-box {
    width: 200px;
  }
}

@media screen and (min-width: 769px) and (max-width: 120px) {
  label {
    position: absolute;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    left: 27.5%;
    top: 20%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .header-box {
    width: 60%;
  }
  .row-box {
    width: 70%;
  }
}
